{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<main class="container-fluid">
		<h1 class="text-dark text-center fw-bolder mt-5">Inscription</h1>
		<div class="row mt-5">
			<img class="col-xl-5 lemon-img h-100 img-fluid rounded m-auto px-5" src="{{ asset('build/images/Lemon.png') }}" alt="The lemon from lemon interactive">
			<div class="register-form col-xl-7 row g-2 bg-primary rounded-4 py-4 mb-2 m-auto">
				{{ form_start(registrationForm) }}
				<div class="inputs-form m-auto">
					{{ form_row(registrationForm.firstname, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.lastname, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.email, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.plainPassword, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.country, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.sexe, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.occupation, {'label_attr': {'class': 'fw-bold'}}) }}
					{{ form_row(registrationForm.agreeTerms) }}
					<div class="d-flex justify-content-between">
						<a class="btn btn-outline-dark d-flex align-items-center justify-content-center py-3 px-4 fw-bold" href="{{ path('app_login') }}">
							<svg class="mx-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
								<path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
							</svg>Retour
						</a>
						<button type="submit" class="btn btn-light fw-bold text-dark px-4">S'inscrire</button>
					</div>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</main>
{% endblock %}
