{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<main class="container login-container">
		<h1 class="text-primary mb-4 fw-bolder">Se connecter</h1>
		{% if error %}
			<div class="d-flex align-items-center mb-3">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-exclamation-triangle-fill mx-2" viewbox="0 0 16 16">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</svg>
				<div class="text-danger fw-bold">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			</div>
		{% endif %}
		<form action="{{ path('app_login') }}" method="post" class="lemon-container-login">
			<label for="username" class="form-label">Email:</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">

			<label for="password" class="form-label mt-4">Mot de passe :</label>
			<input type="password" id="password" name="_password" class="form-control">


			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="d-flex justify-content-center mt-3">
				<button type="submit" class="btn btn-primary fw-bold p-2">Se connecter</button>
				<a href="{{ path('app_register')}}" class="btn btn-outline-primary py-2 px-3 fw-bold mx-3">S'inscrire</a>
			</div>
		</form>
	</main>
{% endblock %}
